.cards-container > .default-content-wrapper {

  a {
    background-color: transparent;
    color: #0066cc;
    font-size: 14px;
    padding: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
    
   
}

}
.cards > ul {
  list-style: none;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  grid-gap: 24px;
}
.cards ::-webkit-scrollbar {
  display: none;
}
.cards-wrapper {
  position: relative;

  
}
.navigation-buttons {
  position: absolute;
  right: 20px;
  bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.prev,
.next {
  
  border-radius: 50%;
  font-size: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  min-width: 30px;
  padding: 0 !important;
  font-weight: bold;
  min-height: 30px;
  
  background-color: rgba(227, 227, 227, 0.815);
}
.prev:focus,
.next:focus {
  color: black;
  background-color: rgba(227, 227, 227, 0.815);
}
.cards h3 {
  font-family: "sf pro regular" !important;
  font-family: normal;

  font-size: 28px !important;
}
.cards p {
  font-family: "sf pro regular" !important;
  font-size: 14px !important;
  padding: 0 !important;
  margin: 0 !important;
  color: #1d1d1f;
}
.cards .button-container a {
  background-color: transparent;
  font-size: 13px;
  font-family: "sf pro regular" !important;
  color: rgb(12, 144, 188) !important;
}
.cards > ul > li {
  display: flex;
  font-family: normal;
  padding-top: 20px;
  justify-content: start;
  text-align: center;
  min-width: 90%;
  flex-direction: column-reverse;
  background-color: #f5f5f7;
  overflow: hidden;

  border-radius: 30px;
}

.cards .cards-card-body {
  padding: 10px 30px 20px 30px;
}
@media(max-width:768px){
  
.cards-card-image>p:first-child {
  display: none;
}
}
@media (min-width: 720px) {
  .navigation-buttons {
    display: none;
  }
  .cards > ul > li {
    min-width: 40% !important;
  }
  .cards-container > .default-content-wrapper {
    h2 {
        font-size: 50px;
        font-family: "San Francisco", sans-serif;
       
    }}
  .cards-card-image>p:last-child {
    display: none;
}

  .cards .cards-card-body {
    padding: 20px 30px 30px 30px;
  }

  .cards p {
    font-size: 17px !important;
  }
  .cards .button-container a {
    font-size: 17px;
  }
  .cards > ul > li {
    padding: 0 40px;
  }
}


