.banner-container > .default-content-wrapper {
    h2 {
        font-size: 27px;
        font-family: "San Francisco", sans-serif;
        margin: 0 0 10px 25px;
    }

    #youre-searching-for,
    #our-latest-models {
        margin-top: -12px;
    }

    @media (min-width: 768px) {
        h2 {
            font-size: 50px;
            margin-left: 30px;
        }
    }
}

.banner-container > .banner-wrapper > .banner.block {
    all: unset;

    > div {
        display: flex;
        flex-direction: column-reverse;
        position: relative;

        > div:first-child {
            padding: 0 24px;

            > p:first-child {
                display: none;

                @media (min-width: 768px) {
                    display: block;
                }

                picture > img {
                    border-radius: 20px;
                    height: 480px;
                    width: 100%;
                    object-fit: cover; 
                    display: block;
                }
            }

            > p:last-child {
                @media (min-width: 768px) {
                    display: none;
                }

                picture > img {
                        border-radius: 20px;
                        height: 480px;
                        width:100%;
                        object-fit: none;

                    
                }
            }
        }

        > div:last-child {
            position: absolute;
            top: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
            padding: 0;

            > h3 {
                flex-basis: 70%;
                font-size: 20px;
                margin: 0;
                font-family: "San Francisco", sans-serif;
                padding-top: 60px;
            }

            > p {
                flex-basis: 100%;
                font-size: 14px;
                margin: 5px 0;
            }

            a.button-secondary {
                all: unset !important;
            }

            @media (min-width: 768px) {
                height: 100%;
                width: 40%;
                align-content: center;

                > h3 {
                    font-size: 30px;
                    line-height: 35px;
                }
            }
        }
    }

    .button-container {
        .button.secondary {
            color: white;
            background-color: #3b63fb;
            font-size: 13px;
            margin: 12px 0;
            padding: 10px 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button.secondary:hover {
            background-color: transparent; 
        }
    }
}

.banner-container > .banner-wrapper > .banner.single.block .button-container .button.secondary {
    color: #0a0909;
    background-color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .banner-container > .default-content-wrapper h2 {
        font-size: 35px;
        margin-left: 20px;
    }

    .banner-container > .banner-wrapper > .banner.block > div > div:last-child h3 {
        font-size: 25px;
    }

    .banner-container > .banner-wrapper > .banner.block > div > div:last-child p {
        font-size: 16px;
    }

    .button-container .button.secondary {
        font-size: 14px;
        padding: 12px 25px;
    }
}
